/*** Header Styles ***/
#logo {
    padding-top: 10px;
    margin: auto;
    display: block;    
}
.phone {
    font-family: 'roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    background: url("img/phone.png") no-repeat left;
    text-decoration: none;
    margin: 25px 0 0 40px;
    padding: 0 0 0 10px;
}
.phone a{
    outline: none;
    color: #787868;
    text-decoration: none;
}
.phone a:hover {
    outline: none;
    color: #787868;
    text-decoration: none;
}
.box1 {
    font-family: 'roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px 44px 0 0;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #d5b087;
    padding: 9px 13px 9px 13px;
    float: right;
    color:black;
}

.box1:hover {
    background-color: #d5b087;
    outline: none;
    color: black;
    text-decoration: none;
    transition: 400ms;
}
/** Nav Styles **/

.header .navbar ul {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.header .navbar ul li {
    flex-grow: 1;
    padding: 10px;
}
.header .nav-link {
    color: #333333;
    text-transform: uppercase;
    font-family: 'roboto', sans-serif;
    font-size: 15px; 
    text-align: center; 
    margin-bottom: 1px; 
    font-weight: bold;
    padding: 0 0 0 0;
}
.header .nav-link:hover {
    color: black;
    border-bottom-style: solid;
    border-bottom-color: #d5b087;
    border-bottom-width: 1px;
    margin-bottom: 0px;
}

/** Work Styles **/
#main {
    position: relative;
    width: 100%;
}

.hider-nav {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-top: -10px;
}

.hider-public {
    position: relative;
    z-index: 1;
    top: -22px;
    float: left;
    background-image: url("img/hider-public.png");
    height: auto;
    overflow: hidden;
    color: white;
    text-transform: uppercase;
    padding-top: 315px;
    padding-left: 250px; 
    font-family: 'roboto', sans-serif;
}
.hider-bg {
    background-color: rgba(74, 67, 59, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 600ms;
}
.hider-bg:hover {
    background-color: rgba(74, 67, 59, 0.8);
    transition: 600ms;
}
.hovered {
    position:absolute;
    left: 0;
    top: 370px;
    height: 100%;
    color:white;
    width: 100%;
    transition: 600ms;
}
.hider-public:hover .hovered{
    top: 0;
    transition-duration: 600ms;
}

.hider-public h2 {
    font-size: 20.4px;
}
.hider-public h1 {
    font-size: 32px;
    text-decoration: double;
    line-height: 11px;
}
.hider-public p {
    font-size: 12px;
}

.text2 {
    padding-top: 4%;
    padding-right: 34%;
    text-align: right;
}
.text {
    padding-top: 4%;
    padding-left: 34%;
}
.hider-private {
    position: relative;
    z-index: 1;
    top: -22px;
    float: left;
    background-image: url("img/hider-private.png");
    height: 449px;
    overflow: hidden;
    color: white;
    text-transform: uppercase;
    padding-top: 315px;
    padding-left: 250px; 
    font-family: 'roboto', sans-serif;
    transition: 600ms;
}

.hider-private:hover .hovered{
    top: 0;
    transition-duration: 600ms;
}

.hider-private h2 {
    font-size: 20.4px;
}
.hider-private h1 {
    font-size: 32px;
    text-decoration: double;
    line-height: 11px;
}
.hider-private p {
    font-size: 12px;
}
.box2 {
    font-family: 'roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #d5b087;
    padding: 17px 0 17px 17px;
    width: 138px;
    float: left;
    outline: none;
    color: black;
    text-decoration: none;
    text-align: left;
    transition: 600ms;
}

.box2:hover {
    outline: none;
    color: black;
    text-decoration: none;
    background-color: #d5b087;
    transition: 400ms;
}
.custom-work {
    background-image: url('img/back-custom-work.png');
    overflow: hidden;
    height: 168px;
    width: 100%;
    float: left;
    position: relative;
    z-index: 1;
    margin-top: -22px;
    color: #3a3429;
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 40px;
}
.custom-work span {
    color: white;
    background-image: url('img/underline1.png') no-repeat;
    background-size: 100% auto;
    display: inline-block;
    padding: 0 0 20px;
    height: 1px;
}
.box3 {
    font-family: 'roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 30px auto 0 auto;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 9px 17px 9px 17px;
    width: 200px;   
    color: white;
    transition: 600ms;
}
.box3:hover {
    outline: none;
    background-color: white;
    color: black;
    text-decoration: none;
    transition: 400ms;
}
/** about **/
#amy-working {    
    padding-top: 54px;
    margin:auto;
    display:block;
}
.about {
    font-family: 'roboto', sans-serif;
    padding: 76px 0 30px 20px;
    
}
.about h1 {
    font-weight: bold;
    font-size: 26px;
}
.about h2 {
    font-size: 17px;
    text-transform: uppercase;
}
.about p {
    font-size: 14px;
    font-weight: bold;
}
.logos {
    
    padding: 76px 20px 0 0;    
    font-family: 'roboto', sans-serif;
    text-align: center;
}
.logos h1 {
    font-size: 17px;
}
.logos img {
    margin: auto;
    display: block;
    padding-top: 10px;
}
.logos a {
    color: black;
}
/** education **/
.education {
    position: relative;
    background-image: url('img/texture.png');
    background-repeat: no-repeat;
    z-index: 1;
    position: relative
}

.ed {    
    font-family: 'roboto', sans-serif;
    padding: 20px 0px 20px 27%;
    margin-left: 45px;
}
.ed h1 {
    font-size: 22px;
}

.ed p {
    font-size: 12px;
}
.circlewrap {
    width: 50px;
    margin-top: 22px;
    display: block;
    float: left;
}
.circle {
    height: 50px;
    width: 50px;
    border-radius: 200px;
    background-color: white;
    font-size: 14px;
    text-align: center;
    line-height: 13px;
    padding-top: 13px;
}
.ed hr {
    background-color: #babeab;
    width: 42px;
    height: 2px;
    margin-left: 0px;
    margin-top: 29px;
}
.sep {
    height: 16px;
    width: 1px;
    background-color: white;
    margin: 4px auto 4px auto;
    position: relative;
}
.info {
    font-family: 'roboto', sans-serif;
    width: 200px;
    float: left;
    margin: 30px 0 0 15px;
}
.info2 {
    font-family: 'roboto', sans-serif;
    float: left;
    padding: 20px 0 0 15px;
    width: 300px;
}
.infowrap {
    width: 400px;
    float: left;
}
.ed-amy {
    background-image: url('img/amy-finished.png');
    width: 100%;
    height: 460px;
}
/** Selected Commissions **/
.selected {
    background-image: url('img/arachnoid.png');
}
.sel {    
    font-family: 'roboto', sans-serif;
    padding: 20px 0 20px 0;
    margin-left: 45px;
    width:auto;
}
.sel h1 {
    font-size: 22px;
}

.sel p {
    font-size: 12px;
}
.sel hr {
    background-color: #babeab;
    width: 42px;
    height: 2px;
    margin-left: 0px;
    margin-top: 29px;
}
.sel a {
    text-decoration: none;
}
.circle-button {
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: #d5b087;
    border-radius: 200px;
    font-size: 14px;
    text-align: center;
    line-height: 13px;
    padding-top: 13px;
    color: black;
    transition: 600ms;
}

.circle-button:hover {
    background-color: #d5b087;
    transition: 400ms;
}
/** More about Amy **/
.more-amy {
    background-image: url('img/pattern.png');
    overflow: hidden;
    height: 180px;
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
    font-family: 'roboto', sans-serif;
    padding-top: 20px;
    overflow: visible;
    z-index: 1;
}
.more-box {
    font-family: 'roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px 0 0 0;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #d5b087;
    padding: 9px 13px 9px 13px;
    color:black;
}
.more-box:hover {
    background-color: #d5b087;
    color: black;
    text-decoration: none;
    transition: 400ms;
}
.more-amy h2 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 26px;
}
.more-amy-content {
    width: 400px;
    margin: auto;
    vertical-align: center;
    display: inline-block;
}
.more-amy-amy {
    background-image: url('img/amy-smile.png') no-repeat;
    height: 200px;
    display: inline-block;
    margin-top: -40px;
    vertical-align: center;
    position: relative;
}
/** Ted  **/
.ted-info {
    background-image: url('img/back-ted.png');
    background-repeat: no-repeat;
    z-index: 1;
    position: relative
}
.head {
    padding: 20px 0px 20px 27%;
    font-family: 'roboto', sans-serif;
    color: white;
}
.head h1 {
    font-size: 22px;
}
.head h2 {
    font-size: 14px;
}
.head hr {
    background-color: white;
    width: 42px;
    height: 2px;
    margin: 29px 0 29px 0;

}
.head p {
    font-size: 14px;
    padding-right: 116px;
}
iframe {
    padding: none !important;
    margin: none !important;
    display: block !important;
    object-fit: cover;
}
.video {
    background-color: black;
    width: 100%;
}
/** Recent Work **/
.header-work {
    margin: 22px 0 0 0;
}
.header-work h1{
    font-size: 22px;
    font-family: 'roboto', sans-serif;
    text-align: center;
}
.header-work hr {
    background-color: #babeab;
    height: 2px;
    width: 42px;
}
.project-card {
    margin: auto;
    color: #3a3429;
    font-family: 'roboto', sans-serif;
    text-align: center;
    padding: 0;
}
.project-card h1 {
    font-size: 20px;
    text-transform: uppercase;
    padding: 30px 0 0 0;
}
.project-card img {
    margin: auto;
    display: block;
}
.brain {
    background-image: url('img/brain.png');
    overflow: hidden;
    height: 294px;
    width: 264px;
    margin: 10px auto 0 auto;
}
.bioforms {
    background-image: url('img/bioforms.png');
    overflow: hidden;
    height: 294px;
    width: 264px;
    margin: 10px auto 0 auto;
}
.janus {
    background-image: url('img/janus.png');
    overflow: hidden;
    height: 294px;
    width: 264px;
    margin: 10px auto 0 auto;
}
.petruda {
    background-image: url('img/petruda.png');
    overflow: hidden;
    height: 294px;
    width: 264px;
    margin: 10px auto 0 auto;
}
.card-hovered {
    position:absolute;
    height: 100%;
    color:black;
    width: 100%;
    opacity: 0;
    top: 150px;
    
}
.card1:hover .card-hovered{
    opacity: 1;
    top: 15px;
    transition-duration: 600ms;
}
.hider-card {
    background: #4a433b;
    opacity: 0;
    position: absolute;
    height: 294px;
    width: 264px;
    transition: 600ms;
}
.hider-box {
    height: 259px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    margin: 17px auto;
    width: 234px;
    transition: 600ms;
}
.hider-card:hover {
    background: #4a433b;
    opacity: .8;
    transition: 600ms;
}
.card-text {
    text-transform: uppercase;
    padding: 45% 10% 0 0;
    text-align: center;
    display: block;
}
.card-text a {
    color: white;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
}
.year {
    position: absolute;
    left: 52%;
    top: 320px;
    color: white;
    background: linear-gradient(42deg, #a08160, #cfaa82);
    border-radius: 100px;
    padding: 12px 4px;
    width: 50px;
    height: 50px;
    transform: translateX(-50%) translateY(50%);
    z-index: 2;
    font-family: 'roboto', sans-serif;
}
.project-info{
    font-family: 'roboto', sans-serif;
    text-align: center;
    padding: 30px;
}
.project-info h2 {
    font-size: 17px;
    color: #3a3429;
}
.project-info hr {
    background-color: #aa9c8d;
    width: 200px;
    height: 1px;
    margin: auto;
}
.project-info p {
    font-size: 17px;
    color: #908172;
    padding: 10px;
}
.work-box {
    font-family: 'roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    display: block;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #d5b087;
    padding: 9px 13px 9px 13px;
    color:black;
    z-index: 2;
    width: 150px;
}
.work-box:hover {
    background-color: #d5b087;
    transition: 400ms;
    color: black;
    text-decoration: none;
}

/** footer **/

.footer {
    background-image: url('img/footer.png');
    height: 121px;
    width: 100%;
    font-family: 'roboto', sans-serif;
    margin-top: 20px;
}

.footer.navbar ul {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.footer .navbar ul li {
    flex-grow: 1;
    padding: 8px;
}
.footer .nav-link {
    color: #929291;
    text-transform: uppercase;
    font-family: 'roboto', sans-serif;
    font-size: 15px; 
    text-align: center; 
    margin-bottom: 1px; 
    font-weight: bold;
    padding: 0 0 0 0;
}
.footer .nav-link:hover {
    color: white;
    border-bottom-style: solid;
    border-bottom-color: #d5b087;
    border-bottom-width: 1px;
    margin-bottom: 0px;
}
.footer-cover .row {
    height: 121px;
}
.footer-logo {
    height: 53px;
    width: 105px;
    background-image: url('img/logo-white.png');
    display: block;
    float: left;
}
.footer-solid {
    height: 75px;
    width: 100%;
    background-color: #191917;
}
.box5 {
    font-family: 'roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 44px 0 0;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #d5b087;
    padding: 9px 13px 9px 13px;
    float: right;
    color:white;
    height: 40px;
}

.box5:hover {
    background-color: #d5b087;
    outline: none;
    color: black;
    text-decoration: none;
    transition: 400ms;
}
.footer .col-sm-4 {
    color:#32322f; 
    font-size: 13px;
    margin-top: 17px;
}
.footer-text {
    padding-top: 9px;
}
.footer a {
    color: #3f372d;

}
/** public commission Styles **/
.top-bg {
    background-image: url('img/top-bg.png');
    height: 275px;
    width: 100%;
    z-index: 1;
    position: relative;
    margin-top: -20px;
}
.top-bg h1 {
    font-family: 'roboto', sans-serif;
    color: white;
    text-align: center;
    padding-top: 130px;
    font-size: 32px;
    text-transform: uppercase;
}
/** main styles **/
.main-content {
    font-family: 'roboto', sans-serif;
}
.main-content h1 {
    font-size: 28px;
    padding-top: 68px;
}
.main-content hr {
    height: 2px;
    width: 42px;
    background-color: #d5b087;
    float: left;
    margin: 19px 0 33px 0;
}
.main-content p {
    float: left;
    font-size: 16px;
    font-weight: bold;
}
.main-content h2 {
    font-size: 20px;
    padding-top: 49px;
}
.sidebar {
    background-color: #ededed;
    height: 493px;
    width: auto;
    margin-top: 22px;
}
.sidebar h1 {
    font-size: 22px;
    padding: 51px 0 0 38px;
    text-transform: uppercase;
    font-weight: bold;
}
.sidebar hr {
    margin: 29px 0 0 38px;
}
.sidebar p {
    font-size: 16px;
    padding: 39px 18px 0 38px;
    font-weight: normal;
}
.sidebar-box {
    font-family: 'roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 13px 0 0 38px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #d5b087;
    padding: 9px 13px 9px 13px;
    float: left;
    color:#3a3429;
    transition: 600ms;
}
.sidebar-box:hover {
    color: #3a3429;
    background-color: #d5b087;
    text-decoration: none;
    transition: 600ms;
}
.footer2 {
    position: relative;
    z-index: 2;
    margin-top:-40px;
    height: auto;
    width: auto;
}
